@model ZombieParty_Models.Zombie
@using ZombieParty_Utility

<div class="col-lg-4 col-md-6 pb-4">
  <div class="card border-primary rounded shadow-sm" style="background: url('/images/imagesLayout/fond.png');">
    <div class="card-body px-3 pt-3 pb-1 row">
      <p class="card-title text-center text-warning h5"><b>@Model.Name</b></p>
    </div>
    @if (@Model.Image == null)
    {
      <img class="card-img-top img-fluid d-block mx-auto mb-3" src="/images/Zombies/GenericZombie.png" alt="Zombie photo" style="width:85%">
    }
    else
    {
      <img class="card-img-top img-fluid d-block mx-auto mb-3" src="@AppConstants.ImageZombiePath@Model.Image" alt="Zombie photo" style="width:85%">
    }
  <div class="card-body p-1 px-3 row">
    <div class="col-6" style="padding-left:25px;">
      <span class="badge p-2 border w-100 btn-dark">@Model.ZombieType.TypeName</span>
    </div>
    <div class="col-6" style="padding-left:3px;padding-right:25px;">
      <span class="badge p-2 border w-100 btn-primary">FORCE</span>
    </div>
    <div style="padding-left:25px;">
      <p class="text-white">Points: <span><b class="">@Model.Point</b></span></p>
    </div>
    
  </div>
    <a asp-route-Id="@Model.Id" asp-action="Upsert" class="p-2 border w-100 btn btn-warning px-3">
      Update/Show Detail Card
    </a>
    <hr />
  </div>
</div>
